<div class="container">
  <div class="row">
    <div class="mx-auto col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h2>User info</h2>
      <%= form_with model:@user, local:true do |f| %>
        <label for="inputName">Name</label><br>
          <%= f.text_field :name, autofocus:true, id:"inputName", placeholder:"Name" %><br>
        <label for="inputImage">Image</label><br>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %><br>
        <label for="inputIntoroduction">Introduction</label><br>
          <%= f.text_area :introduction, autofocus:true, id:"inputIntoroduction", placeholder:"Introduction" %><br>
          <button class="btn btn-secondary" type="submit">Update User</button>
      <% end %>
    </div>
  </div>
</div>