<div class="container">
  <div class="row">

    <div class="col-lg-3">
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2>New Book</h2>
      <%= render 'books/new', book: @book %>
    </div>

    <div class="col-lg-9">
      <h2>Users</h2>
        <table class="table">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
          </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>image</td>
              <td><%= user.name %></td>
              <td>Show</td>
            </tr>
          <% end %>
        </tbody>
        </table>
    </div>

  </div>
</div>