<div class="container">
  <div class="row">
    <div class="col-mid-3">
      <%= render 'users/info', user: current_user %>
    </div>
    <div class="col-mid-3">
      <%= render 'books/new', book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="users">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th>show</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>image</th>
            <%= @users.each do |user| %>
            <th><%= user.name %></th>
            <% end %>
            <th>show</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>