<div class="container">
  <div class="row">

    <div class="col-lg-3">
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2>New Book</h2>
      <%= render 'books/new', book: @book %>
    </div>
    
  </div>
</div>