<h2>New Book</h2>
  <%= form_with model: book, url:'/books', local:true do |f| %>
    <label for="book_title">Title</label><br>
      <%= f.text_field :title %><br>
    <label for="book_opinion">Opinion</label><br>
      <%= f.text_area :body %><br>
    <%= f.submit 'Create Book' %>
  <% end %>