  <%= form_with model: book, url:'/books', local:true do |f| %>
    <label for="book_title">Title</label><br>
      <%= f.text_field :title %><br>
    <label for="book_opinion">Opinion</label><br>
      <%= f.text_area :body %><br>
    <button class="btn btn-success" type="submit">Create Book</button>
  <% end %>